/* <!-- Global -----------------------------------------------------------> */
html{
  box-sizing: border-box;
}
*{
  font-family: 'Lato', sans-serif;
}
*,*:before,*:after{
  box-sizing: inherit;
}
h1{
  font-weight: 700px;
  margin: 0 0 30px 0;
}
.content-wrapper{
  padding: 160px 100px;
}
body{
  margin: 0;
  padding: 0;
}
p,h1,h2{
  color: #2c102d;
}

/* <!-- Navigation bar ---------------------------------------------------> */
.navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 70px 10px;
    transition: 1s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.floatingNav {
  box-shadow: 0px 1px 10px #999;
}
.navbar-brand{
  font-family: 'Homemade Apple', cursive;
}
.navbar a{
  color: #000;
}
.navbar a:hover{
  color: rgba(0,0,0, 0.75);
}

.active{
  color: #f60c4b!important;
}

/* <!-- Header -----------------------------------------------------------> */
#header{
  max-width: inherit;
  width: 80%;
  margin: 0 auto;
  padding-top: 260px;
  padding-bottom: 330px;
  background-color: white;
}

/* <!-- Projects ---------------------------------------------------------> */
#projects{
  text-align: center;
  background-color: #5EB9FF;
}
.card{
  margin-bottom: 20px;
}

/* <!-- Skills ------------------------------------------------------------> */
#skills{
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #D759FF;
}


/* <!-- Contact ----------------------------------------------------------> */
#contact{
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #D1FF53;
}

/* <!-- Footer -----------------------------------------------------------> */
#footer{
  background-color: #FFB553;
}
