/* Global ----------------------------------------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

h2 {
    margin-bottom: 35px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2em;
}

h3 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

a {
    color: black;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/* Navigation bar --------------------------------------------------- */

.navbar {
    overflow: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.floatingNav {
    /* box-shadow: 0px 1px 10px rgb(94, 94, 94); */
    background-color: #000000;
}

.navbar-brand {
    font-family: 'Homemade Apple', cursive;
    font-size: 35px!important;
}

.navbar a {
    font-size: 20px;
    letter-spacing: 3px;
}

.navbar a:hover {
    color: rgba(0, 0, 0, 0.75);
}

.navbar .active {
    color: #f60c4b!important;
    text-decoration: underline;
}

/* Sections -------------------------------------------------------- */

section {
    height: 100vh;
    padding-top: 12vh;
}

/* Header ----------------------------------------------------------- */

#header div .container {
    height: 10em;
    position: relative;
}

.jumbotron {
    background-image: url(../images/smoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header h1 {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 150px;
    color: #000;
    letter-spacing: 0.1em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#header a {
    position: absolute;
    width: 100%;
    bottom: 30px;
    color: #000;
}

/* About ------------------------------------------------------------ */

#about img {
    width: 75%;
}

#about p {
    font-size: 20px;
}

/* Projects --------------------------------------------------------- */

#projects {
    height: 130vh;
    background-color: #dddddd;
}

#projects .row {
    margin-top: 50px;
}

#projects .card {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

/* Skills ------------------------------------------------------------ */

#skills {
    height: 120vh;
    background-color: #ffffff;
}

#skills .card {
    margin-top: 20px;
    border: 0;
}

#skills .card .card-header {
    box-shadow: -5px 5px rgb(0, 0, 0), -10px 10px rgb(71, 71, 71), -15px 15px rgb(184, 184, 184);
}

#skills .fa-python {
    background: linear-gradient(145deg, #306998 40%, #FFD43B 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#skills .fa-git-alt {
    color: #f34f29;
}

#skills .fa-microsoft {
    background: linear-gradient(45deg, #F34F1C, #F34F1C 100%), linear-gradient(135deg, #01A6F0, #01A6F0), linear-gradient(225deg, #7FBC00, #7FBC00), linear-gradient(225deg, #FFBA01, #FFBA01);
    background-size: 50% 50%;
    background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#skills .fa-android {
    color: #3DDC84;
}

#skills .fa-html5 {
    color: #F16529;
}

#skills .fa-css3-alt {
    color: #2965f1;
}

#skills .fa-bootstrap {
    color: #602C50;
}

#skills .fa-js {
    color: #F0DB4F;
    background-color: #323330;
}

#skills .fa-file-image {
    color: #101841;
}

#skills .fa-camera {
    color: #464646;
}

#skills .fa-palette {
    background: linear-gradient(to bottom, rgb(241, 161, 241), rgb(143, 62, 201), rgb(118, 118, 255), rgb(144, 228, 144), rgb(248, 248, 162), rgb(255, 209, 123), rgb(247, 107, 107));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#skills .fa-paw {
    color: #000000;
}

/* Box slider -------------------------------------------------------- */

.box {
    width: 227px;
    height: 227px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.box p {
    color: #461e52;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    padding: 30% 30px 0 30px;
    text-align: center;
    transition: none;
    line-height: 1;
    font-family: 'Open Sans Condensed', Arial, Verdana, sans-serif;
}

.box:hover {
    background-color: #461e52;
}

.box:hover p {
    color: #fff;
    text-decoration: none;
}

/* Contact ------------------------------------------------------- */

#contact {
    padding-right: 100px;
    padding-left: 100px;
    background-color: #dddddd;
}

#contact form .row {
    padding-top: 20px;
}

#contact form label {
    font-size: 20px;
}

#contact li {
    text-decoration: none;
    display: block;
}

/* website */

#contact img {
    height: 60px;
    width: 60px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

#contact li:nth-child(1) .btn:hover {
    background-color: rgb(153, 197, 151);
}

/* github */

.fa-github {
    color: rgb(0, 0, 0);
}

#contact .btn:hover .fa-github {
    color: rgb(255, 255, 255);
}

#contact li:nth-child(2) .btn:hover {
    background-color: rgba(0, 0, 0);
}

/* linkedin */

.fa-linkedin {
    color: #2867B2;
}

#contact .btn:hover .fa-linkedin {
    color: rgb(255, 255, 255);
}

#contact li:nth-child(3) .btn:hover {
    background-color: #2867B2;
}

/* instagram */

.fa-instagram {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact .btn:hover .fa-instagram {
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact li:nth-child(4) .btn:hover {
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}

/* Footer ---------------------------------------------------------------------- */

#footer {
    color: #FCF7F8;
    background-color: #373737;
}