/* <!-- Global -----------------------------------------------------------> */
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
h1{
  font-weight: 700px;
  margin: 0 0 30px 0;
  font-family: 'Poiret One', cursive;
}
h2{
  margin-bottom: 35px;
  font-family: 'Lobster', cursive;
}
p,h3{
  font-family: 'Lato', sans-serif;
}
.content-wrapper{
  padding: 160px 100px 160px 100px;
}
body{
  margin: 0;
  padding: 0;
}

/* <!-- Navigation bar ---------------------------------------------------> */
.navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 70px 10px;
    transition: 1s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.floatingNav {
  box-shadow: 0px 1px 10px #999;
}
.navbar-brand{
  font-family: 'Homemade Apple', cursive;
}
.navbar a{
  color: #000;
}
.navbar a:hover{
  color: rgba(0,0,0, 0.75);
}

.active{
  color: #f60c4b!important;
}

/* <!-- Header -----------------------------------------------------------> */
#header{
  max-width: inherit;
  width: 80%;
  margin: 0 auto;
  padding-top: 260px;
  padding-bottom: 330px;
  background-color: white;
}

/* <!-- Projects ---------------------------------------------------------> */
#projects{
  background-color: #5EB9FF;
}
projects.card{
  border-radius: 10px;
  margin-right: 40px;
  padding-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #464646;
  cursor: pointer;
}
projects.card-img-top{
  border-radius: 10px;
  box-shadow: 0 0 10px #464646;
}

/* <!-- Skills ------------------------------------------------------------> */
#skills{
  padding-right: 100px;
  padding-left: 100px;
  background-color: #D759FF;
}
.carousel-item .card{
  margin-bottom: 12px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* <!-- Contact ----------------------------------------------------------> */
#contact{
  padding-right: 100px;
  padding-left: 100px;
  background-color: #D1FF53;
}
#contact p, a.mail{
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  color: #FF537B;
}
a.mail:hover{
  color: rgba(106,28,137, 0.75);
}
.btn{
  margin-left: .25rem;
  margin-right: .25rem;
  background-color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 50%;
}
.btn:hover{
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 0 0 12px #E2C0F0;
}
.fa-globe{
  color: #470063;
}
.fa-github{
  color: #000000;
}
.fa-linkedin-square{
  color: #2867B2;
}
.fa-instagram{
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* <!-- Footer -----------------------------------------------------------> */
#footer{
  color: #FCF7F8;
  background-color: #373737;
}
