/* <!-- Global -----------------------------------------------------------> */


/* <!-- Navigation bar ---------------------------------------------------> */
.navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 70px 10px;
    transition: 1s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.floatingNav {
  box-shadow: 0px 1px 10px #999;
}


/* <!-- Header -----------------------------------------------------------> */
#header{
  width: 85%;
  padding-top: 240px;
  padding-bottom: 200px;
}

/* <!-- Projects ---------------------------------------------------------> */
#projects{
  text-align: center;
}

/* <!-- About ------------------------------------------------------------> */
#about{
  text-align: center;
}

/* <!-- Contact ----------------------------------------------------------> */
#contact{
  text-align: center;
}

/* <!-- Footer -----------------------------------------------------------> */
